@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
	height: auto;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
	font-style: italic;
	background-size: cover;
	background-repeat: no-repeat;
	shape-margin: 1rem;
}

input,
button,
textarea,
select {
	font: inherit;
}

a,
button {
	cursor: pointer;
}

body {
	min-height: 100vh;
	max-width: 100vw;
	-webkit-tap-highlight-color: transparent;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.debug {
	box-shadow:
		inset 0 0 0 1px red,
		inset 0 0 0 2px black;
}

html {
	--color-primary: #4651e6;
}

@layer components {
	.visualization {
		@apply flex flex-col gap-2 rounded-xl bg-white/5 p-4;
	}
}
